<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>
    <div class="main">
        <div class="main1">
            <img src="kavya.jpg" alt="">
            <h2>CONTACT ME</h2>
            <p>📧 jmkskavyashri@gmail.com<br>
               📞 +91 8940762712<br>
               🏠 1/260B Tirumalai nagar
                Neriperichal North,
                Pooluvapati post, Tirupur</p>
    
            <h2>EDUCATION</h2>
            <ul id="list3">
                <li>KONGU ENGINEERING COLLEGE</li>
                <p>Bachelor of ECE 2022-2024</p>
            </ul>
            <ul id="list4">
                <li>AVP TRUST NMHS SCHOOL</li>
                <p>Higher Secondary 2021-2022</p>
            </ul>
            <ul id="list5">
                <li>AVP TRUST NMHS SCHOOL</li>
                <p>SSLC 2019-2020</p>
            </ul>
    
            <h2>SKILLS</h2>
            <ul id="list6">
                <li>Leadership</li>
                <li>Hardworking</li>
                <li>Analytical Thinking</li>
                <li>Problem Solving</li>
                <li>Communication skills</li>
            </ul>
            
        </div>
        <div class="main2">
            <h1>KAVYASHRI JAGANATHAN</h1>
            <p><i>Electronics and Communication Engineer</i></p>

            <h2>ABOUT ME</h2>
            <P>A result oriented electronics and communication engineer worked with
                designing ,developing and maintaining electronic systems and
                communication devices.</P>
            
            <h2>AREAS OF INTEREST</h2>
            <ul id="list1">
                <li>Communication Systems</li>
                <li>Digital Electronics</li>
            </ul>

            <h2>PAPER PRESENTED</h2>
            <P><u><b>TOPIC:</b> Determination of steroid content in milk</u></P>
            <ul id="list2">
                <li>Anna University Regional Campus, Coimbatore</li>
                <li>Coimbatore Institute of technology, Coimbatore</li>
            </ul>

            <h2>TECHNICAL TRAINING</h2>
            <p>Chip level testing and
                debugging of mobile phones and
                tablets by NEW TECHNOLOGY,
                Coimbatore. We learned a new 
                technology with hands on training for a 
                period of 2 days.
            </p>

            <h2>REFERENCES</h2>
            <table>
                <tr>
                    <td>
                        <h3>Dr.N.Kasthuri</h3>
                        <p><i>Head of ECE department</i></p>
                        <p>📧 kasthurin.ece@kongu.edu<br>
                            📞 +91 7889063211<br></p>

                    </td>
                    <td>
                        <h3>Mrs.K.Priyaraja</h3>
                        <p><i>Principal of AVP TRUST NMHSS</i></p>
                        <p>📧 priyarajakavp@gmail.com<br>
                            📞 +91 9865430987<br></p>

                    </td>
                </tr>
            </table>

            <h5>I hereby declare that the above particulars are true and correct to the best of my knowledge</h5>
            
        </div>
    </div>
       
    

    
</body>
</html>
