nav{
    background-color:black;
    color:white;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar{
    padding-right: 25 px;
}
ul{
    display: flex;
    gap: 25px;
    justify-content: right;
}
